html {
  /* ### Primary */
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);

  /* ### Neutral */
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}

body {
  margin: 0;
  /* background-image: url("./design/mobile-design.jpg"); */
}

@media (min-width: 800px) {
  body {
    /* background-image: url("./design/desktop-design.jpg"); */
    /* background-image: url("./design/active-states.jpg"); */
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}


@font-face {
  font-family: "DMSans";
  font-weight: 400;
  src: url("./fonts/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 700;
  src: url("./fonts/DMSans-Bold.ttf") format("truetype");
}